New-ADGroup -Name "hr" -GroupCategory Security -GroupScope DomainLocal -Path "OU=Groups,OU=Accounts,OU=blue4,DC=blue4,DC=local"
New-ADGroup -Name "accounting" -GroupCategory Security -GroupScope DomainLocal -Path "OU=Groups,OU=Accounts,OU=blue4,DC=blue4,DC=local"
New-ADGroup -Name "executive-staff" -GroupCategory Security -GroupScope DomainLocal -Path "OU=Groups,OU=Accounts,OU=blue4,DC=blue4,DC=local"
New-ADGroup -Name "marketing" -GroupCategory Security -GroupScope DomainLocal -Path "OU=Groups,OU=Accounts,OU=blue4,DC=blue4,DC=local"
New-ADGroup -Name "it" -GroupCategory Security -GroupScope DomainLocal -Path "OU=Groups,OU=Accounts,OU=blue4,DC=blue4,DC=local"